    
*{
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body, #map{
    margin:0;
    background-color:#0fa8d2;
}

.leaflet-popup-content{
    margin: 0;
    text-align: center;
}

.leaflet-popup-content a{
    color:white !important;
    background-color:red;
    padding: 2px;
    margin: 2px;
    box-shadow: 1px 1px blue;
}

.markerHead{
    background-color: red;
    width:99%;
    border: 1px solid red;
    font-weight: bold;
    text-shadow: 1px 2px black;
    color:white;

}

#findplayerinputfield {
    padding-left:5px;
    padding-right:5px;
    font-size:.95em;
    border:none;
    z-index: 99999 !important;
}


.leaflet-popup-content-wrapper{
    border-bottom: 1px solid red;
    border-radius: 0;
    background-color: #ffffffe5;
}

.leaflet-tooltip-top {
    height:20px !important;
    padding: 0 5px 0 5px;
    border-radius: 0;
    border-bottom: 1px solid red;
}

input[type="button"]{
    outline:none !important;
    background-color: red;
    border: 0 !important;
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.562) !important;
    box-shadow: 1px 1px black;
}

input[type="button"]:hover, button:hover, .leaflet-control-zoom-in:hover, .leaflet-control-zoom-out:hover,.playersonlinerow:hover{background-color:blue !important;color:white;}

::-moz-focus-inner {
    border: 0 !important;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
    background-color:red !important;
    border:none !important;
    box-shadow: 1px 1px black;
}

.leaflet-control-zoom, .leaflet-touch .leaflet-bar a{
    border: none !important;
    border-radius: 0 !important;
}

button{
    width:100%;
    text-align: center;
}

button, input[type="submit"], #cmenu{
    background-color: rgba(255, 255, 255, 0.562);
    border: 1px solid white;
    margin-bottom: 1px;
    color:black; 
}

.leaflet-popup-close-button{
    top: -10px !important;
    padding: 0 !important;
    background-color: red !important;
    color:white !important;
}

hr{
    padding: 0;
    margin: auto;
    border:0;
    background-color: white;
    border-bottom: 1px solid rgba(255, 39, 39, 0.171);
    height:1px;
}

a {
    color: white !important;
    text-decoration: none;
}

#cmenu{
    position: fixed;
    z-index: 9999 !important;
    min-width: 250px;
}


#cmenu input[type="text"]{
    border: 1px solid blue;
    background-color:white;
    width: 98%;
}

b{
    font-weight: bold !important;
}

.playersonlinerow{
    display:flex;
    justify-content: space-between;
    margin-right: 3px;
}

.playersonlinerow > span:nth-child(3){
    padding-left: 3px;
    color: rgb(0, 217, 255);
}

.dataicon{
    z-index: 100 !important;
}


#hud input{
    border: 1px solid rgba(0, 3, 165, 0.411) !important;
    
}
#hud button{
    height:100%;
    padding: 0;
    margin: 0;
}

#hud,#hud *{
    background-color: rgba(0, 225, 255, 0.301);
    margin:0;
    padding:0;
}

small {
    font-size: smaller;
}

.toggleButton{
    width:100%;
    min-width:140px;
}

.leaflet-left .leaflet-control{
    margin-left: 5px !important;
    margin-top: 2px !important;
}

.divBlock{
    background-color: rgba(255, 255, 255, 0.733);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.445);
}

.divBlock{
    color: white;
    text-shadow: 1px 2px black;
    background: linear-gradient(356deg, rgba(32,123,255,0.7) 41%, rgba(0,212,255,0.7) 100%);
}

.leaflet-control-attribution a{
    color: black !important;
    text-transform: uppercase;
}

.myIcon{
    height: 40px;
    position: fixed;
    text-align: center;
}

.myIconTXT{
    position: fixed;
    top: 40px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.473);
    color:black;
    padding: 1px;
    width: 100px;
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }

#credits{
    padding: 2px 5px;
    z-index: 99999;
    position: fixed;
    top: 30%;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.445);
}

@media (max-width: 600px) {
    #credits {
      top: 0;
      left: 0;
    }
  }