    
*{
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
    
}

body, #map{
    margin:0;
    background-color:#0fa8d2;
}

.leaflet-popup-content{
    margin: 0;
    text-align: center;
}

.leaflet-popup-content-wrapper{
    border-bottom: 1px solid red;
    border-radius: 0;
    background-color: #ffffffe5;
    /* padding: 4px 4px 4px 4px; */
}

.leaflet-tooltip-top {
    height:20px !important;
    padding: 0 5px 0 5px;
    border-radius: 0;
    border-bottom: 1px solid red;
    /* border-left: 1px dashed red; */
    /* border-right: 1px dashed red; */
}


button{
    background: rgb(2,0,36);
}

#server-selector-header {
    margin: 0;
    padding: 0;
    width:100%;
    text-align:center;
    font-weight:bold;
    /* border-radius:5px; */
    /* background-color:rgba(2, 0, 36, 0.438);; */
    background-color: red;
}


button{
    border:0;
    margin-bottom: 1px;
    /* border: 1px solid white !important; */
    width:100%;
    
    /* background: linear-gradient(348deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 9%, rgba(0,212,255,1) 100%); */
    color:white; 
    /* box-shadow: 1px 1px 2px 0px blue; */
}
/* button, input[type='checkbox']{
    border:0 !important;
} */

.leaflet-popup-close-button{
    top: -10px !important;
    /* width:10px !important; */
    padding: 0 !important;
    background-color: red !important;
    color:white !important;
}

ul{
    padding: 0 0 0 10px;
    margin: 0;
    list-style-type: square;
}
#cmenu{
    position: fixed;
    z-index: 9999 !important;
    background-color: rgba(255, 255, 255, 0.788);
    padding:10px;
    border-bottom: 1px red solid;
}

b{
    font-weight: bold !important;
}

.playersonlinerow{
    display:flex;
    justify-content: space-between;
    margin-right: 3px;
}

.playersonlinerow > span:nth-child(3){
    padding-left: 3px;
    color: rgb(0, 217, 255);
}

.dataicon{
    z-index: 100 !important;
}

#serversSelection {
    transition-property: left !important;
    transition-property: height !important;
    transition-property: display !important;
    transition-duration: 2s !important; 
}

#hud input{
    border: 1px solid rgba(0, 3, 165, 0.411) !important;
}
#hud button{
    height:100%;
    padding: 0;
    margin: 0;
}

#hud,#hud *{
    background-color: rgba(0, 225, 255, 0.301);
    margin:0;
    padding:0;
    /* border-bottom: 1px red solid !important; */
}


*:focus {
    outline: none !important;
}


#serversSelection{
    margin: 0 !important;
    padding: 0px 0 5px !important;
    z-index: 9999 !important;
    position: fixed;
    top:250px;
    left:0px;
    background-color: rgba(255, 255, 255, 0.733);
    /* border-bottom: 2px red solid; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.281);
    border-left: 2px solid red;
    color: white;
    text-shadow: 1px 2px black;

    background: rgb(32,123,255);
    background: linear-gradient(356deg, rgba(32,123,255,0.7) 41%, rgba(0,212,255,0.7) 100%);
}


/* .myIconTXT {
    display:none;
}

.myIcon:hover ~ .myIconTXT{
    display: block;
} */

input[type="button"]{
    outline:none !important;
 }
input[type="button"]::-moz-focus-inner {
    border: 0 !important;
}

.myIcon{
    height: 40px;
    position: fixed;
    text-align: center;
}

.myIconTXT{
    position: fixed;
    top: 40px;
    border: 1px solid red;
    background-color: rgba(255, 255, 255, 0.473);
    color:black;
    padding: 1px;
    width: 100px;
}

.leaflet-fade-anim .leaflet-tile,.leaflet-zoom-anim .leaflet-zoom-animated { will-change:auto !important; }